<!-- <div  class="container-fluid ">
  <h1>Boot camp enrollment form</h1>
  <form #employeeForm="ngForm" >
    {{employeeForm.value | json}}
    <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" type="text" class="form-control"
                   name="fullname" [(ngModel)]="fullName" >
          </div> -->

  <!-- <form #formuser="ngForm">
   {{formuser.value | json}}

    <div class="form-group">
    <label for="username" >Enter the UserName</label>
    <Input type="text" id="username" name="username" [(ngModel)]="username"    class="form-control"  >
    </div>

    <div class="form-group">
      <label >Enter the EmailID</label>
      <Input type="email"   class="form-control"  name="emailid" [(ngModel)]="emailid" >
      </div>

      <div class="form-group">
        <label >Enter the Phone Number</label>
        <Input type="tel"    class="form-control" name="phonenumber" [(ngModel)]="phonenumber">
        </div> -->
  <!-- <div class="form-group">
    <select class="custom-select" name="selectitem" ngModel>
  <option selected>Ian Intrested in</option>
  <option *ngFor="let topic of topics">{{topic}}</option>

    </select>
  </div>


    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePrefrence" ngModel value="morning">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePrefrence" ngModel value="evening">
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>
      <div class="form-check mb-3">
       <input class="form-check-input" name="checklable" ngModel type="checkbox">
       <label class="form-check-label">
         Send Me Promotional Offers
       </label>

      </div>

   <button class="btn btn-primary" type="submit">Submit Form</button> -->

  <!-- </form>

  </div> -->

